<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="simpledbListener" type="SimpleDB.TraceListener.SimpleDBTraceListener, SimpleDB.TraceListener"
                     SystemName="us-west-2"
                     AWSAccessKey="AKIAIVX7GOFTJ7A"
                     AWSSecretKey="Gwe61Bp1rcAFYN9Sv0rTuJKPM/SfHr+Gz"
                     IncludeTimeStamp="true"
                     TableName="myLogs"
                     IsEnabled="true"
                     initializeData="test"/>
        <!--<add name="testL" type="SimpleDB.TestListener,SimpleDB"
             Source="hi" />-->
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

</configuration>
